/* ==========================================================================
   #TYPOGRAPHY Base Styles
   ========================================================================== */

/*
Base Styles

Basic tag`s styles description

markup:
<abbr title="abbr title">abbr abbr abbr</abbr>
<address>10 Bayfront Avenue, Singapore 018956</address>
<ul>
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ul>
<ol>
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ol>
<dl>
  <dt>Coffee</dt>
  <dd>Black hot drink</dd>
  <dt>Milk</dt>
  <dd>White cold drink</dd>
</dl>
<blockquote>Blockquote</blockquote>

Styleguide 4.2.1
*/

// Abbreviations
abbr[title],
  // Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
}

address {
  margin-bottom: inuit-rem($inuit-global-spacing-unit);
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: inuit-rem($inuit-global-spacing-unit);
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: $dt-font-weight;
}

dd {
  margin-bottom: inuit-rem($inuit-global-spacing-unit-small);
  margin-left: 0; // Undo browser default
}

blockquote {
  margin: 0 0 inuit-rem($inuit-global-spacing-unit);
}
