.c-widget {

}

.c-widget_status-success
{
  background: rgba($color-status-success, 0.23);
}

.c-widget_status-warning {
  background: rgba($color-status-warning, 0.25);
}

.c-widget_status-critical {
  background: rgba($color-status-critical, 0.33);
}

.c-widget_status-error {
  background: rgba($color-status-error, 0.33);
}

.c-widget_status-falsevalue {
  background: rgba($color-status-falsevalue, 0.33);
  color: rgba($text-color, 0.6);
}

.c-widget__block {

}

.c-widget__block_status-success
{
  background: rgba($color-status-success, 0.23);
}

.c-widget__block_status-warning {
  background: rgba($color-status-warning, 0.25);
}

.c-widget__block_status-critical {
  background: rgba($color-status-critical, 0.33);
}

.c-widget__block_status-error {
  background: rgba($color-status-error, 0.33);
}

.c-widget__block_status-falsevalue {
  background: rgba($color-status-falsevalue, 0.33);
}

.c-widget-parameter-icon {
  filter: brightness(3);
  opacity: 0.7;
}

//.c-widget-parameter-icon_status-success {
//  filter: invert(100%);
//  opacity: 0.7;
//}

.c-widget__block_dashname-on-hover {
  .c-widget__block-dashname {
    visibility: hidden;
  }

  &:hover {
    .c-widget__block-dashname {
      visibility: visible;
    }
  }
}
