.c-widgetStatus {

}

.c-widgetStatus_vertical-line-left {
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 10px;
  border-left: 2px solid $color-brand-cold-primary;
}

.c-widgetStatus_vertical-line-left-status-success {
  border-left-color: $color-status-success;
}

.c-widgetStatus_vertical-line-left-status-warning {
  border-left-color: $color-status-warning;
}

.c-widgetStatus_vertical-line-left-status-error {
  border-left-color: $color-status-error;
}

.c-widgetStatus_vertical-line-left-status-critical {
  border-left-color: $color-status-critical;
}

.c-widgetStatus_vertical-line-left-status-falsevalue {
  border-left-color: $color-status-falsevalue;
}

.c-widgetStatus_icon-font-status-success {
  color: $color-status-success;
}

.c-widgetStatus_icon-font-status-warning {
  color: $color-status-warning;
}

.c-widgetStatus_icon-font-status-error {
  color: $color-status-error;
}

.c-widgetStatus_icon-font-status-critical {
  color: $color-status-critical;
}
