.c-icon {
  &_status-success {
    color: $color-status-success-dark;
  }

  &_status-warning {
    color: $color-status-warning;
  }

  &_status-error {
    color: $color-status-error;
  }

  &_status-critical {
    color: $color-status-critical;
  }

  &_status-disabled {
    color: $color-status-disabled;
  }

  &_color-green {
    color: green;
  }
}
//todo(turchaninov): требуется доработать иконки.
