/* ==========================================================================
   #TABLES
   ========================================================================== */

/*
Tables

* TABLES BASE RESETS
 * 1. Ensure tables fill up as much space as possible.
 * 2. Reset `border-collapse: collapse;`
 * 3. Reset for nesting within parents with `background-color`.
 * 4. Caption base styling.
 * 5. Left align text inside th.

Styleguide 4.4
*/

table {
  width: 100%; /* [1] */
}

table {
  // No longer part of Normalize since v4
  border-collapse: collapse;
  // Reset for nesting within parents with `background-color`.
  background-color: $table-bg;
}

caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $text-muted;
  text-align: left;
  caption-side: bottom;
}

th {
  // Centered by default, but left-align-ed to match the `td`s below.
  text-align: left;
}
