/* ==========================================================================
   #PAGE
   ========================================================================== */

//html,
//%html {
//  background: $body-bg;
//}

//body,
//%body {
//  color: $text-color;
//  background-color: $body-bg;
//}

/**
 * 1. Custom scroll for webkit
 */

/* Track */
::-webkit-scrollbar-track {
  background: $webkit-scrollbar-track-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $webkit-scrollbar-thumb-bg;
}

::-webkit-scrollbar-corner {
  background: $webkit-scrollbar-corner-bg;
}

/*
Typography
*/

//@import "elements.typobase";
//@import "elements.paragraph";
p {
  color: $paragraph-color;
}

//@import "elements.headings";
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
}

//@import "elements.links";
a {
  color: $link-color;

  @include hover-focus {
    color: $link-hover-color;
  }
}

//@import "elements.code";
//@import "elements.figures";
