/* ==========================================================================
   #STYLEGUIDE HELPER CLASSES (used inside shadowDOM)
   ========================================================================== */

// Combination html styles and body styles for commonClass wrapper in Styleguide
.sg-common {
  @extend %html;
  @extend %body;
  padding: 20px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*
 * Grid outlines
 */

.o-grid_demo.o-grid {
  border: 2px solid #ff69b4;
}

.o-grid-key {
  font-weight: bold;
}

.o-grid-key_grid {
  color: #ff69b4;
}

.o-grid-key_grid-cell {
  color: #00bfff;
}

.o-grid-key_padding {
  color: #66bb6a;
}

.o-grid_demo .o-grid__cell {
  border: 2px solid #00bfff;
  background-color: #b2f5b5;
}

.o-grid-text {
  background-color: #9E9E9E;
}

/*
 * Demo containers
 */
.demo-container {
  position: relative;
  height: 400px;
  overflow: hidden;
}

/*
 * Flexbox child helper
 */
.child {
  background-color: lightskyblue;
  color: black;
  padding: 1em;
  margin: 1em;
}

.child_w_40 {
  width: 40%;
}

.sg-container_h_300 {
  height: 300px;
}

/*
 * Box
 */
.sg .sg-box-lg {
  padding: $unit-large 0;
  position: relative;
}
