/* ========================================================================
 * STYLEGUIDE`s own GUI custom styles
 * ======================================================================== */

@define-mixin styleguide_custom_styles {

  .sg.sg-wrapper {
    max-width: 90em;
  }

  /*
   * Code tag styling
  */
  .sg-section-description code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
  }

  .sg.sg-wrapper .sg.sg-side-nav .sg-nav-subsection li a {
    color: rgb(23, 209, 230);
  }

  a.sg {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.45;
    color: #222;
    font-weight: 400;
    display: inline;
    cursor: pointer;
    text-decoration: none;
    color: var(--default-action-color);
    color: #78f4ff;
  }

  .sg.sg-section {
    .sg.sg-code-listing a.sg-show-section {
      color: #333;
    }
    h1.sg, h2.sg, h3.sg, h4.sg, h5.sg {
      //color: #000;
    }
    p.sg {
      color: #000;
    }
    li.sg {
      color: #000;
    }
  }

  h1.sg, h2.sg, h3.sg, h4.sg, h5.sg {
    color: #fff;
  }

  p.sg {
    color: #ddd;
  }

  li.sg {
    color: #fff;
  }
}
