/* ==========================================================================
   #BLOCK
   ========================================================================== */

/*
Block

Stacked image-with-text object. A simple abstraction to cover a very commonly occurring design pattern.

markup:
<div class="o-block">
  <div class="o-block__img">
    <img src="http://cdn2.bigcommerce.com/n-biq04i/eir5k/products/229/images/570/Oriental_Sweetlips__95753.1392679931.220.145.jpg?c=2" alt="thmthg" />
  </div>
  <div class="o-block__body">
    This product hasn't received any reviews yet. Be the first to review this product!
  </div>
</div>

Styleguide 5.8
*/

.o-block {
  display: block;
  text-align: center;
}

/*
Size variants

Stacked image-with-text object. A simple abstraction to cover a very commonly occurring design pattern.

tiny - 0.25*spacing
small - 0.5*spacing
large - 2*spacing
huge - 4*spacing
flush - paddingless objects

markup:
<div class="o-block_{$modifiers}">
  <div class="o-block__img">
    <img src="http://cdn2.bigcommerce.com/n-biq04i/eir5k/products/229/images/570/Oriental_Sweetlips__95753.1392679931.220.145.jpg?c=2" alt="thmthg" />
  </div>
  <div class="o-block__body">
    This product hasn't received any reviews yet. Be the first to review this product!
  </div>
</div>

Styleguide 5.8.1
*/
.o-block__img {
  margin-bottom: $inuit-global-spacing-unit;

 // make all svg resize to container dimentions
  svg {
    width: 100%;
    height: 100%;
  }

  /* Size variants.
     ====================================================================== */

  .o-block_flush > & {
    margin-bottom: 0;
  }

  .o-block_tiny > & {
    margin-bottom: $inuit-global-spacing-unit-tiny;
  }

  .o-block_small > & {
    margin-bottom: $inuit-global-spacing-unit-small;
  }

  .o-block_large > & {
    margin-bottom: $inuit-global-spacing-unit-large;
  }

  .o-block_huge > & {
    margin-bottom: $inuit-global-spacing-unit-huge;
  }
}

.o-block__body {
  display: block;
}

/*
Alignment variants

right - align right
left - align left

markup:
<div class="o-block o-block_{$modifiers}">
  <div class="o-block__img">
    <img src="http://cdn2.bigcommerce.com/n-biq04i/eir5k/products/229/images/570/Oriental_Sweetlips__95753.1392679931.220.145.jpg?c=2" alt="thmthg" />
  </div>
  <div class="o-block__body">
    This product hasn't received any reviews yet. Be the first to review this product!
  </div>
</div>

Styleguide 5.8.2
*/

.o-block_right {
  text-align: right;
}

.o-block_left {
  text-align: left;
}
