/* ==========================================================================
   #TABLES
   ========================================================================== */
/*
Tables

A simple object for manipulating the structure of HTML `table`s.

markup:
<table class="o-table t-table">
	<thead>
		<tr>
			<th>asdf</th>
			<th>asdf</th>
			<th>sdfg</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>asdf</td>
			<td>wdf</td>
			<td>wdf</td>
		</tr>
		<tr>
			<td>wdf</td>
			<td>bfbd</td>
			<td>yjty</td>
		</tr>
		<tr>
			<td>yjt</td>
			<td>wdf</td>
			<td>waf</td>
		</tr>
	</tbody>
</table>

Styleguide 5.11
*/
/**
 * A simple object for manipulating the structure of HTML `table`s.
 */

.o-table {
  width: 100%;
}

//.t-table {
//
//  th,
//  td {
//    border: 1px solid $color-base-white;
//  }
//
//}

/*
Equal-width table cells

`table-layout: fixed` forces all cells within a table to occupy the same width as each other. This also has performance
benefits: because the browser does not need to (re)calculate cell dimensions based on content it discovers, the table
can be rendered very quickly. Further reading:

https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout#Values

markup:
<table class="o-table t-table o-table_fixed">
    <thead>
        <tr>
            <th>asdf</th>
            <th>df</th>
            <th>we3rfwefa</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>awefaea</td>
            <td>w3r3wq3r</td>
            <td>as3a3fa</td>
        </tr>
        <tr>
            <td>afdf</td>
            <td>a33r</td>
            <td>a3ra3wr</td>
        </tr>
        <tr>
            <td>aw3eaw3faf</td>
            <td>a3a3fwfaw3</td>
            <td>aw3afaw3f</td>
        </tr>
    </tbody>
</table>

Styleguide 5.11.1
*/

.o-table_fixed {
  table-layout: fixed;
}

/*
Size variants

tiny - tiny table`s cells
small - small table`s cells
large - large table`s cells
huge - huge table`s cells

markup:
<table class="o-table t-table o-table_{$modifiers}">
    <thead>
        <tr>
            <th>aw3faw3f</th>
            <th>aw3faw3fawf</th>
            <th>yhftyh</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ftyh</td>
            <td>ftyhfyh</td>
            <td>5s5s5g</td>
        </tr>
        <tr>
            <td>234234</td>
            <td>waefawef</td>
            <td>awef</td>
        </tr>
        <tr>
            <td>awefawev</td>
            <td>awefa</td>
            <td>awevawev</td>
        </tr>
    </tbody>
</table>

Styleguide 5.11.2
*/
.o-table_tiny {
  th,
  td {
    padding: $inuit-global-spacing-unit-tiny;
  }

}

.o-table_small {
  th,
  td {
    padding: $inuit-global-spacing-unit-small;
  }

}

.o-table_large {
  th,
  td {
    padding: $inuit-global-spacing-unit-large;
  }

}

.o-table_huge {
  th,
  td {
    padding: $inuit-global-spacing-unit-huge;
  }

}
