/* ==========================================================================
   #BOX
   ========================================================================== */
/*
Box

The box object simply boxes off content. Extend with cosmetic styles in the Components layer.
 1. So we can apply the `.o-box` class to naturally-inline elements.

markup:
<div class="o-box">
  <sg-insert>5.3</sg-insert>
</div>

Styleguide 5.7
*/

.o-box {
  @include inuit-clearfix();
  display: block; /* [1] */
  padding: $inuit-global-spacing-unit;

  > :last-child {
    margin-bottom: 0;
  }

}





/*
Size variants

tiny - 0.25*spacing
small - 0.5*spacing
large - 2*spacing
huge - 4*spacing
flush - gutterless media objects

markup:
<div class="o-box o-box_{$modifiers}">
  <sg-insert>5.3</sg-insert>
</div>

Styleguide 5.7.1
*/
.o-box_flush {
  padding: 0;
}

.o-box_tiny {
  padding: $inuit-global-spacing-unit-tiny;
}

.o-box_small {
  padding: $inuit-global-spacing-unit-small;
}

.o-box_large {
  padding: $inuit-global-spacing-unit-large;
}

.o-box_huge {
  padding: $inuit-global-spacing-unit-huge;
}
