/* ==========================================================================
   #PACK
   ========================================================================== */
/*
Pack

The pack object simply causes any number of elements pack up horizontally to automatically fill an equal, fluid width
of their parent.

markup:
<div class="o-pack">
  <div class="o-pack__item">
    <span class="fa fa-user"></span>
  </div>
  <div class="o-pack__item">
    <span class="fa fa-calendar"></span>
  </div>
  <div class="o-pack__item">
    <span class="fa fa-git"></span>
  </div>
</div>

Styleguide 5.12
*/
/**
 *
 * 1. Fill all available space.
 * 2. Remove any leftover styling from lists.
 * 3. Cause children to be automatically equally sized.
 */

.o-pack {
  width: 100%; /* [1] */
  margin-left: 0; /* [2] */
  display: table;
  table-layout: fixed; /* [3] */
}

/*
Vertical alignment variants

middle - vertical align middle
bottom - vertical align bottom

markup:
<div class="o-pack o-pack_{$modifiers}" style="height: 50px;">
  <span class="o-pack__item fa fa-user"></span>
  <span class="o-pack__item fa fa-calendar"></span>
  <span class="o-pack__item fa fa-git"></span>
</div>

Styleguide 5.12.1
*/
  /**
   * 1. Cause children to adopt table-like structure.
   */
  .o-pack__item {
    display: table-cell; /* [1] */


    /* Vertical alignment variants.
       ====================================================================== */

    .o-pack_middle > & {
      vertical-align: middle;
    }

    .o-pack_bottom > & {
      vertical-align: bottom;
    }

  }



/*
Unequal-width items

markup:
<div class="o-pack o-pack_auto">
  <span class="o-pack__item fa fa-user"></span>
  <span class="o-pack__item fa fa-calendar"></span>
  <span class="o-pack__item fa fa-git"></span>
</div>

Styleguide 5.12.2
*/
.o-pack_auto {
  table-layout: auto;
}





/* Size variants.
   ========================================================================== */
/*
Size variants

tiny - 0.25*spacing
small - 0.5*spacing
large - 2*spacing
huge - 4*spacing

markup:
<div class="o-pack o-pack_{$modifiers}">
  <span class="o-pack__item fa fa-user"></span>
  <span class="o-pack__item fa fa-calendar"></span>
  <span class="o-pack__item fa fa-git"></span>
</div>

Styleguide 5.12.3
*/
.o-pack_tiny {
  border-spacing: $inuit-global-spacing-unit-tiny;
}

.o-pack_small {
  border-spacing: $inuit-global-spacing-unit-small;
}

.o-pack_large {
  border-spacing: $inuit-global-spacing-unit-large;
}

.o-pack_huge {
  border-spacing: $inuit-global-spacing-unit-huge;
}





/*
Reversed order packs

markup:
<div class="o-pack o-pack_rev">
  <span class="o-pack__item fa fa-user"></span>
  <span class="o-pack__item fa fa-calendar"></span>
  <span class="o-pack__item fa fa-git"></span>
</div>

Styleguide 5.12.4
*/
.o-pack_rev {
  direction: rtl;

  > .o-pack__item {
    direction: ltr;
  }

}
