/* ==========================================================================
   #LISTS
   ========================================================================== */

/*
Lists

Non-styled list example

markup:
<p>Defaul list</p>
<ul>
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ul>

Styleguide 5.5
*/

/*
Default List

`.o-list` class

markup:
<p>Default List</p>
<ul class="o-list">
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ul>

Styleguide 5.5.1
*/

.o-list {
  list-style: none;
  margin-left: $unit-tiny;
}

/*
List-bare

Strip list-like appearance from lists by removing their bullets, and any indentation.

markup:
<p>List-bare</p>
<ul class="o-list-bare">
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ul>

Styleguide 5.5.2
*/

.o-list-bare {
  list-style: none;
  margin-left: 0;
}

/*
List-inline

The list-inline object simply displays a list of items in one line.

markup:
<p>List-inline</p>
<ul class="o-list-inline">
  <li class="o-list-inline o-list-inline__item">list item 1</li>
  <li class="o-list-inline o-list-inline__item">list item 2</li>
  <li class="o-list-inline o-list-inline__item">list item 3</li>
</ul>

Styleguide 5.5.3
*/

.o-list-inline {
  margin-left: 0;
  list-style: none;
}

.o-list-inline__item {
  display: inline-block;
}

/*
Delimited list

By default, applying this class will comma separate your list items. You can change the delimiter by predefining the
following variable:

$inuit-list-inline-delimiter

markup:
<p>List-delimited</p>
<ul class="o-list-inline o-list-inline_delimited">
  <li class="o-list-inline o-list-inline__item">list item 1</li>
  <li class="o-list-inline o-list-inline__item">list item 2</li>
  <li class="o-list-inline o-list-inline__item">list item 3</li>
</ul>

Styleguide 5.5.4
*/

$inuit-list-inline-delimiter:   ",\00A0" !default;

/**
 * 1. Fallback for old IEs not supporting `rem` values.
 */

.o-list-inline_delimited {
  font-size: 0;

  > .o-list-inline__item {
    font-size: $inuit-global-font-size; /* [1] */
    font-size: 1rem;
  }

  > .o-list-inline__item + .o-list-inline__item {

    &:before {
      content: "#{$inuit-list-inline-delimiter}";
    }

  }

}

/*
Ordered list

markup:
<p>Ordered and unordered lists</p>
<ul class="o-list o-list_ordered">
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ul>
<ul class="o-list o-list_unordered">
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ul>

Styleguide 5.5.5
*/

.o-list_ordered {
  padding-left: $unit-tiny;
  list-style-type: decimal;
}

.o-list_unordered {
  padding-left: $unit-tiny;
  list-style-type: disc;
}


