/* ==========================================================================
   #MEDIA
   ========================================================================== */
/*
Media

Place any image- and text-like content side-by-side, as per:
http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code

markup:
<div class="o-media">
  <a href="http://twitter.com/stubbornella" class="o-media__img">
    <img src="https://farm3.staticflickr.com/2807/9937914133_6508994b1c_s.jpg" alt="me" />
  </a>
  <div class="o-media__body">
    @Stubbornella 14 minutes ago
  </div>
</div>

Styleguide 5.3
*/

.o-media {
  @include inuit-clearfix();
  display: block;
}


  .o-media__img {
    float: left;
    margin-right: $inuit-global-spacing-unit;

    > img {
      display: block;
    }

  }


  .o-media__body {
    overflow: hidden;
    display: block;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }





/*
Size variants

Modify the amount of space between our image and our text. We also have reversible options for all available sizes.

tiny - 0.25*spacing
small - 0.5*spacing
large - 2*spacing
huge - 4*spacing
flush - gutterless media objects

markup:
<div class="o-media o-media_{$modifiers}">
  <a href="http://twitter.com/stubbornella" class="o-media__img">
    <img src="https://farm3.staticflickr.com/2807/9937914133_6508994b1c_s.jpg" alt="me" />
  </a>
  <div class="o-media__body">
    @Stubbornella 14 minutes ago
  </div>
</div>

Styleguide 5.3.1
*/

.o-media_tiny {

  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-tiny;
  }

  &.o-media_reverse {

    > .o-media__img {
      margin-right: 0;
      margin-left:  $inuit-global-spacing-unit-tiny;
    }

  }

}


.o-media_small {

  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-small;
  }

  &.o-media_reverse {

    > .o-media__img {
      margin-right: 0;
      margin-left:  $inuit-global-spacing-unit-small;
    }

  }

}


.o-media_large {

  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-large;
  }

  &.o-media_reverse {

    > .o-media__img {
      margin-right: 0;
      margin-left:  $inuit-global-spacing-unit-large;
    }

  }

}


.o-media_huge {

  > .o-media__img {
    margin-right: $inuit-global-spacing-unit-huge;
  }

  &.o-media_reverse {

    > .o-media__img {
      margin-right: 0;
      margin-left:  $inuit-global-spacing-unit-huge;
    }

  }

}




/*
Reversed media objects

markup:
<div class="o-media o-media_reverse">
  <a href="http://twitter.com/stubbornella" class="o-media__img">
    <img src="https://farm3.staticflickr.com/2807/9937914133_6508994b1c_s.jpg" alt="me" />
  </a>
  <div class="o-media__body">
    @Stubbornella 14 minutes ago
  </div>
</div>

Styleguide 5.3.2
*/

.o-media_reverse {

  > .o-media__img {
    float: right;
    margin-right: 0;
    margin-left: $inuit-global-spacing-unit;
  }

}





/* Gutterless media objects
   ========================================================================== */

.o-media_flush {

  > .o-media__img {
    margin-right: 0;
    margin-left:  0;
  }

}
