/* ==========================================================================
   #FLAG
   ========================================================================== */
/*
Flag

The flag object is a design pattern similar to the media object, however it utilises `display: table[-cell];` to give us
control over the vertical alignments of the text and image.

http://csswizardry.com/2013/05/the-flag-object/

Allows us to
 1. Control vertical alignments.
 2. Force the object to be the full width of its parent. Combined with [1], this makes the object behave in a
 quasi-`display: block;` manner.

* Difference from Media object
 * The media object is good enough for 90% of cases, namely where vertical alignment isn’t required, so use that wherever possible.
 * The flag object is not backwards compatible with the media object, so you can’t just replace all existing instances of one with the other.
 * Until the flag object has any quirks/bugs ironed out, I think it safer to only use it where really necessary.

markup:
<div class="o-flag">
    <div class="o-flag__img">
        <img src="https://avatars3.githubusercontent.com/u/751944?v=3&s=400" alt="avatar" width="100">
    </div>
    <div class="o-flag__body">
        <p>@csswizardry INTUITCSS</p>
    </div>
</div>

Compatible in IE8+.

Styleguide 5.4
*/

.o-flag {
  display: table; /* [1] */
  width: 100%; /* [2] */
}


  /**
   * Items within a flag object. There should only ever be one of each.
   *
   * 1. Default to aligning content to their middles.
   */

  .o-flag__img,
  .o-flag__body {
    display: table-cell;
    vertical-align: middle; /* [1] */
  }


  /**
   * Flag images have a space between them and the body of the object.
   *
   * 1. Force `.flag__img` to take up as little space as possible:
   *    https://pixelsvsbytes.com/2012/02/this-css-layout-grid-is-no-holy-grail/
   */

  .o-flag__img {
    width: 1px; /* [1] */
    padding-right: $inuit-global-spacing-unit;


    /**
     * 1. Fixes problem with images disappearing.
     */

    > img {
      max-width: none; /* [1] */
    }

  }


  /**
   * The container for the main content of the flag object.
   *
   * 1. Forces the `.flag__body` to take up all remaining space.
   */

  .o-flag__body {
    width: auto; /* [1] */

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }





/*
Size variants

Modify the amount of space between our image and our text. We also have reversible options for all available sizes.

tiny - 0.25*spacing
small - 0.5*spacing
large - 2*spacing
huge - 4*spacing
flush - gutterless media objects

markup:
<div class="o-flag o-flag_{$modifiers}">
    <div class="o-flag__img">
        <img src="https://avatars3.githubusercontent.com/u/751944?v=3&s=400" alt="avatar" width="100">
    </div>
    <div class="o-flag__body">
        <p>@csswizardry INTUITCSS</p>
    </div>
</div>

Styleguide 5.4.1
*/
.o-flag_tiny {

  > .o-flag__img {
    padding-right: $inuit-global-spacing-unit-tiny;
  }

  &.o-flag_reverse {

    > .o-flag__img {
      padding-right: 0;
      padding-left: $inuit-global-spacing-unit-tiny;
    }

  }

}

.o-flag_small {

  > .o-flag__img {
    padding-right: $inuit-global-spacing-unit-small;
  }

  &.o-flag_reverse {

    > .o-flag__img {
      padding-right: 0;
      padding-left: $inuit-global-spacing-unit-small;
    }

  }

}

.o-flag_large {

  > .o-flag__img {
    padding-right: $inuit-global-spacing-unit-large;
  }

  &.o-flag_reverse {

    > .o-flag__img {
      padding-right: 0;
      padding-left: $inuit-global-spacing-unit-large;
    }

  }

}

.o-flag_huge {

  > .o-flag__img {
    padding-right: $inuit-global-spacing-unit-huge;
  }

  &.o-flag_reverse {

    > .o-flag__img {
      padding-right: 0;
      padding-left: $inuit-global-spacing-unit-huge;
    }

  }

}

.o-flag_flush {

  > .o-flag__img {
    padding-right: 0;
    padding-left:  0;
  }

}





/*
Reversed flag objects

markup:
<div class="o-flag o-flag_reverse">
    <div class="o-flag__img">
        <img src="https://avatars3.githubusercontent.com/u/751944?v=3&s=400" alt="avatar" width="100">
    </div>
    <div class="o-flag__body">
        <p>@csswizardry INTUITCSS</p>
    </div>
</div>

Styleguide 5.4.2
*/

/**
 * 1. Swap the rendered direction of the object…
 * 2. …and reset it.
 * 3. Reassign margins to the correct sides.
 */

.o-flag_reverse {
  direction: rtl; /* [1] */

  > .o-flag__img,
  > .o-flag__body {
    direction: ltr; /* [2] */
  }

  > .o-flag__img {
    padding-right: 0; /* [3] */
    padding-left: $inuit-global-spacing-unit; /* [3] */
  }

}





/*
Alignment variants

Vertically align the image- and body-content differently. Defaults to middle.

top - align img and content to the top
bottom - align img and content to the bottom

markup:
<div class="o-flag o-flag_{$modifiers}">
    <div class="o-flag__img">
        <img src="https://avatars3.githubusercontent.com/u/751944?v=3&s=400" alt="avatar" width="100">
    </div>
    <div class="o-flag__body">
        <p>@csswizardry INTUITCSS</p>
    </div>
</div>

Styleguide 5.4.3
*/

.o-flag_top {

  > .o-flag__img,
  > .o-flag__body {
    vertical-align: top;
  }

}

.o-flag_bottom {

  > .o-flag__img,
  > .o-flag__body {
    vertical-align: bottom;
  }

}
