
.theme-dark {
  --selected-element-background: rgba(255, 255, 255, .1);

  --element-background: #53555C;
  --main-background: #494C55;

  --input-background: #3B3D45;
  --input-border: 1px solid #333;

  --body-background: #202127;

  --card-background: rgba(0, 0, 0, 0.3);
  --card-background-selected: rgba(0, 0, 0, 0.2);


  // todo Стили ниже должны быть в отдельном компоненте.
  --button-hover-background: rgba(255, 255, 255, .1);
}


@import "~primeng/resources/primeng.css";
@import "~primeng/resources/themes/luna-blue/theme.css";

body .ui-treetable .ui-treetable-thead > tr > th {
  background-color: rgba(255, 255, 255, 0.2);
}

body .ui-treetable .ui-treetable-tbody > tr {
  background-color: transparent;
}

body .ui-treetable .ui-treetable-tbody > tr > td {
  border: none;
}

body .ui-treetable .ui-treetable-thead > tr > th {
  border-color: transparent;
}

body .ui-tree {
  background-color: transparent;
  border: none;
  padding: 0;
}

body a {
  color: #78f4ff;
}

body .ui-dialog .ui-dialog-content {
  background-color: transparent;
}

body .ui-card {
  background-color: var(--card-background);
}

.ui-card-title {
  font-size: inherit;
  margin-bottom: 0;
}

body .ui-hovering {
  &:hover {
    background: var(--card-background-selected);
    cursor: pointer;
  }
}

body .ui-fieldset {
  background-color: var(--card-background);
}
