.image {
  width: 100%;
  height: 100px;
  margin-bottom: 12px;
}

.o-grid__cell {
  display: flex;
  align-items: center;
}

.c-icon {
  width: 30px;
}


.link-to-dashboard {
  display: inline-flex;
  cursor: pointer;
  color: inherit;
}

.link-to-dashboard span {
  text-decoration: underline;

}

.nonClickable span {
  text-decoration: none;
}


.nonClickable {
  cursor: default;
  pointer-events: none;
}
