@mixin c-nav {
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;
    @include clearfix;
}
@mixin c-nav__item-li {
    position: relative;
    display: block;
}
@mixin c-nav__item-a {
    position: relative;
    display: block;
    padding: $nav-link-padding;
    &:hover,
    &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
    }
}
@mixin c-nav__item-a_disabled {
    color: $nav-disabled-link-color;

    &:hover,
    &:focus {
        color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: $cursor-disabled;
    }
}
