// List Groups

@mixin c-list-group__item_variant($state, $background, $color) {
  .c-list-group__item_#{$state} {
    color: $color;
    background-color: $background;
  }

  a.c-list-group__item_#{$state},
  button.list-group__item_#{$state} {
    color: $color;

    .list-group__item-heading {
      color: inherit;
    }

    @include hover-focus {
      color: $color;
      background-color: darken($background, 5%);
    }

    &.active {
      color: #fff;
      background-color: $color;
      border-color: $color;
    }
  }
}
