.c-widgetValue {
  position: relative;
  padding: $unit-small $unit;
}

.c-widgetValue_large {
  padding: $unit $unit-large;
}

.c-widgetValue_small {
  padding: $unit-tiny $unit-small;
}

.c-widgetValue__lable_display-1 {
  position: absolute;
  left: 48px;
  top: 12px;
}

.c-widgetValue__valueBlock {
  white-space: nowrap;
}

